[package]
name = "sensitive"
version = "0.1.0"
authors = [ "Mikael Voss <mvs@nyantec.com>" ]
edition = "2018"
description = "Memory allocator for sensitive information"
repository = "https://github.com/illdefined/sensitive"
license = "MirOS"
keywords = [ "security" ]
categories = [ "memory-management" ]

[dependencies]
lazy_static = "1.4"
libc = "0.2"

[dev-dependencies]
rand = "0.8"

[profile.release]
lto = true
